.pg__contact {
  nav {
    .list {
      color: $black;
    }

    .logoName {
      color: $black;
    }
    .line {
      stroke: $black !important;
    }
  }

  &__info {
    margin: 50px 0;

    .text {
      width: 100%;
      @include respond(sm) {
        width: 70%;
      }
    }
  }
}
