.products {
  padding-top: 100px;
  padding-bottom: 100px;

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include respond(sm) {
      flex-direction: row;
    }
  }

  &__features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    flex-direction: column;

    @include respond(sm) {
      flex-direction: row;
    }

    &__card {
      background-color: mediumseagreen;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 20px 30px;
      width: 100%;
      border-radius: 4px;

      &:not(:last-child) {
        margin: 20px 0;

        @include respond(sm) {
          margin: 0;
          margin-right: 30px;
        }
      }

      svg {
        width: 150px;
        height: 150px;
      }
      .text {
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: 600;
        text-decoration: underline;
        color: white;
      }

      ul {
        color: white;
        li {
          font-size: 18px;
          font-weight: 700;
          font-weight: 500;
          padding: 10px 0;

          ion-icon {
            position: relative;
            top: 2px;
            font-size: 16px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
