.pg__product {
  nav {
    .list {
      color: $black;
    }

    .logoName {
      color: $black;
    }
    .line {
      stroke: $black !important;
    }
  }

  &__links {
    display: flex;

    text-align: center;

    .heading,
    .title {
      color: $white;
      font-family: "Red Hat Display", sans-serif;
    }

    a.btn {
      margin: 0 auto;
      background-color: #27ae60;
      color: $white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;

      &:hover,
      &:focus {
        color: $white;
      }
    }

    &__customer,
    &__farmer {
      height: 500px;
      width: 100%;
      overflow: hidden;
      &:hover {
        & .bg--customer,
        .bg--farmer {
          transform: scale(1.05);
        }
      }

      & .bg {
        transition: all 0.5s;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: relative;

        &--customer {
          background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../assets/images/products-pg/customer.jpg);
        }
        &--farmer {
          background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../assets/images/products-pg/farmer.jpg);
        }

        & .center {
          @include center;
          top: 70%;
          width: 100%;
        }
      }
    }
  }
}
