.pg__product {
  nav {
    .list {
      color: $black;
    }

    .logoName {
      color: $black;
    }
    .line {
      stroke: $black !important;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -20px;
    padding: 50px 0;

    & > div {
      flex: 1 1 0;
      margin: 10px;
      padding: 30px auto;

      @include media(400px) {
        margin: 20px;
      }
    }

    &__farmer,
    &__customer {
      position: relative;
      border-radius: 6px;
      padding: 40px;

      .title {
        color: $black;
        font-size: 22px;
      }

      a.btn {
        border: 2px solid black;
        background-color: inherit;
        color: #000;
      }
    }

    .bg--customer,
    .bg--farmer {
      height: 150px;
      width: 150px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;

      @include media(400px) {
        height: 300px;
        width: 300px;
      }
    }

    &__customer {
      background-color: #ff9f1a;

      & .bg--customer {
        background-image: url(../assets/svg/cart.svg);
      }
    }

    &__farmer {
      background-color: mediumseagreen;

      & .bg--farmer {
        background-image: url(../assets/svg/farmer.svg);
      }
    }
  }
}
