.pg__product {
  nav {
    .list {
      color: $black;
    }

    .logoName {
      color: $black;
    }
    .line {
      stroke: $black !important;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -20px;
    padding: 50px 0;

    & > div {
      flex: 1 1 0;
      margin: 20px;
      min-height: 500px;
    }

    &__farmer,
    &__customer {
      position: relative;
      border-radius: 6px;
      padding: 20px;

      .title {
        color: $black;
        font-size: 22px;
      }

      a.btn {
        border: 2px solid black;
        background-color: inherit;
        color: #000;
      }
    }

    .bg--customer,
    .bg--farmer {
      height: 300px;
      width: 300px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
    }

    &__customer {
      background-color: #ff9f1a;

      & .bg--customer {
        background-image: url(../assets/svg/cart.svg);
      }
    }

    &__farmer {
      background-color: mediumseagreen;

      & .bg--farmer {
        background-image: url(../assets/svg/farmer-bg.svg);
      }
    }
  }
}
